.animal-detail {
    padding-top: 2rem;
    padding-left: 14rem;
    display: flex;
    flex-direction: column;

    .row-detail {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        border: solid;
        border-color: black;
        border-radius: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
        max-width: 600px;
        background-color: #f4f4f4;
    }

    .row-button {
        display: flex;
        flex-direction: row;
    }

    img {
        max-width: 300px;
    }
}