.animal-form {
    padding: 35px;
}

.row {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: black;
    margin-bottom: 1rem;

    .preview-image {
        max-width: 300px;
    }
}