.header {
    background-color: #f4f4f4;
    padding: 55px 20px;
}
  
.title-header {
    float: left;
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}

.button-header {
    float: right;
}