@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@import url("./styles/animals.scss");
@import url("./styles/header.scss");
@import url("./styles/animal-form.scss");
@import url("./styles/animal-details.scss");

body,
html {
  font-family: "Lato", sans-serif;
  background-color: bisque;
}

button {
  background-color: black;
  color: #f4f4f4;
  padding: 15px;
  font-size: 20px;
  line-height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #f4f4f4;
  color: black;
}